@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #e97b7bc7;
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif;
    margin-top: 10%;
    margin-left: 40%;
}

